.meteor {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 300px;
    z-index: 5;
    background: transparent url('../images/meteor.png') top / contain;
    transform: translateY(-100px);
    /* transform: rotate(-20deg); */
    animation: meteorFly 3s linear;
}

@keyframes meteorFly {
    from {top:0;}
    to {top:600px;}
}