h2 {margin: 0}
.dashboard {
  display: flex;
  justify-content: space-between;
}
.dashBtns {
  display: flex;
}
button {
  width: 100px;
  height: 40px;
}
.field {
  position: absolute;
  /* display: block; */
  top: 64px;
  left: 100px;
  width: calc(100vw - 120px);
  height: calc(100vh - 84px);
  overflow: hidden;
}
.stars, .twinkling {
  position: absolute;
  width: 1000px;
  height: 100%;
}
.stars {
  background: black url(./images/stars.png) repeat top center;
  z-index: 0;
  animation: move-stars 15s linear infinite;
}
.twinkling {
  background: transparent url(./images/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twinkling 15s linear infinite;
}
/* button {
  position: absolute;
  top: 20px;
  left: 1000px;
  width: 100px;
  height: 40px;
} */
.position {
  position: absolute;
  top: 60px;
  left: 900px;
  margin: 0;
}
.pos-figure {
  padding: 0 5px;
  background-color: rgb(224, 255, 88);
}
@keyframes move-stars {
  from {background-position:0 0;}
  to {background-position:0 1375px;}
}
@keyframes move-twinkling {
  from {background-position:0 0;}
  to {background-position:900px 0;}
}